.encabezado{
    background-color: map-get($colores-pagina, primario);
    color:map-get($colores-pagina, blanco);
    font-weight: bold;
}

.nav-item:hover{
    background-color:map-get($colores-pagina, blanco);
    border-radius: 0.25rem;
}

.logo{
    object-fit: cover;
    width:18.75rem;
    height: 3rem;
}