body{
    background-color: map-get($colores-pagina, body);
}

.botonesInicio{
    background-color:map-get($colores-pagina, rojo-claro);
    color:map-get($colores-pagina, blanco);
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    &:hover{
        color:map-get($colores-pagina, blanco)
    }
}


.carousel-item{
    height: 60vh;
    img{
        height: 100%;
    }
 }

.zoom {
    transition: transform .2s;
    &:hover{
        transform: scale(1.5);
    }
}

.direccion{
    text-decoration: none;
    color: map-get($colores-pagina, azul);
    font-weight: bold;
    font-size:35px;
}

.texto{
    font-size: 1.25rem;
}

.subtitulo{
    font-size: 1.875rem;
    font-weight: bold;
}
.titulo{
    font-weight: bold;
    padding: 0.5rem;
    font-size: 3.125rem;
}

.formulario{
    @include ancho;
}

.wsp__link{
    position: fixed;
    bottom: 1%;
    right: 1%;
}

.featurette-divider {
    margin: 5rem 0;
  }
  
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.img-inicio{
    width: 31.25rem;
    height: 18.75rem;
    object-fit: cover;
}
.contacto{
    height: 80vh;
}

.titulo-span{
    color:map-get($colores-pagina, rojo);
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.p-4{
    padding: 4%;
    opacity: 0%;
}

.img-sobrenosotros{
    width: 29.5rem;
    height: 18rem;
    object-fit: cover;
}

.img-error{
    width: 5rem;
    height: 10rem;
    object-fit: cover;
}

.lista{
    list-style-image: url(../assests/imagenes/rayo.svg);
    li{
        padding: 1%;
    }
}

.img-cover{
    object-fit: cover;
}

@media screen and(min-width:0px) and (max-width:459px){
    .inicio{
        display: flex;
        text-align:center
    }
    .row div{
        padding: 0.5rem;
    }

    .img-sobrenosotros{
        overflow: hidden;
        width: 100%;
    }

    .contacto{
        height: 180vh;
    }

    .img-inicio{
        width: 100%;
    }

    header ul{
        display: flex;
        justify-content: center;
    }

    .img-catalogo{
        width: 100%;
    }

    .contacto{
        height: 100%;
        width: 95%;
    }

    .boletin{
        position: relative;
        left: 10%;
    }
}

@media screen and(min-width:460px) and (max-width:576px){
    .inicio{
        display: flex;
        text-align:center
    }
    .row div{
        padding: 0.5rem;
    }

    .img-sobrenosotros{
        overflow: hidden;
        width: 100%;
    }

    .contacto{
        height: 100%;
        width: 95%;
    }

    .img-inicio{
        width: 100%;
    }

    .boletin{
        position: relative;
        left: 10%;
    }

    header ul{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .img-catalogo{
        width: 100%;
    }

    .formulario{
        width: 100%;
    }
}

@media screen and (min-width:577px) and (max-width:767px){
    .inicio{
        display: flex;
        text-align:center;
        height: 100%;
        @include ancho;
    }
    .row div{
        padding-bottom: 0.5rem;
    }
    .contacto{
        height: 180vh;
    }
}

@media screen and (min-width:768px) and (max-width:992px){
    footer{
        margin-top: auto;
    }

    .inicio{
        @include ancho;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header{
        @include ancho;
    }

    .img-sobrenosotros{
        @include ancho;
    }

    .img-inicio{
        height: 14.375rem;
        width: 22rem;
    }

    .contacto{
        @include alto;
    }
}
@media screen and (min-width:993px){
    .contacto{
        @include alto;
    }
    .row .ancho{
        @include ancho;
    }
}