$colores-pagina:(
    primario: #303F9F,
    rojo-claro: #FF5252,
    azul:#3F51B5,
    body:#C5CAE9,
    blanco: rgb(255, 255, 255),
    rojo:red
);

@mixin alto{
    height: 100vh;
}

@mixin ancho{
    width: 100%;
}